:global{
  .border{
    border-bottom: 1px solid red ;
  }
  .am-list-content{
    display: flex;
    justify-content: space-between;
  }
  .active{
    display: block;
  }
  .inactive{
    display: none;
  }
}
