.li{
  position: relative;
  border-top:1px solid grey;
  border-bottom: 1px solid grey;
  margin-top:0.2rem;
}
.am_span_text{
  display: block;
}
.borderbox{
  box-sizing: border-box;
}
.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box{
  composes:borderbox;
  composes:flexbox;
  height: 3rem;
  padding:0.2rem;
  border-bottom: 1px solid grey;
}
.boxchild{
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.one{
  composes:flexbox;
}
:global{
  .badge{
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
  }
  .badge-saling{
    border-top: 0.8rem solid yellow;
    border-right: 0.8rem solid yellow;
  }
  .badge-recon{
    border-top: 0.8rem solid red;
    border-right: 0.8rem solid red;
  }
  .badge-over{
    border-top: 0.8rem solid #999;
    border-right: 0.8rem solid #999;
    color:#fff;
  }
  .am_p_text{
    position: absolute;
    top: -0.53rem;
    left:-0.1rem;
    width: 1.2rem;
    font-size: 12px;
  }
  [data-dpr='2'] .am_p_text{
    font-size: 24px;
  }
  [data-dpr='3'] .am_p_text{
    font-size: 36px;
  }
}
